<app-category 
[menus]="topMenus" 
[backgroundColor] = "'#CECCCC'"
(tabSeletcted)="handleTabSelected($event)"
></app-category>
<div class="div-signin">
  <!-- 用户名处的required是由Validator提供的内置校验方法，但是html元素也有叫
 required的属性，所以在form上加一个novalidate，表示不需要浏览器的默认校验-->
  <form class="form-signin" #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)" novalidate>
    <h1 class="h3 mb-3 font-weight-normal">Signup By Seller</h1>

    <p *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
    </p>

    <!-- bootstrap utilities/screenreaders   -->
    <label for="inputUsername" class="sr-only">Username</label>
    <input ngModel name="name" id="inputUsername" class="form-control" placeholder="UserName" type="text">

    <label for="inputPassword" class="sr-only">Password</label>
    <input ngModel name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" >

    <label for="inputConfrimPassword" class="sr-only">Confirm Password</label>
    <input ngModel name="confirmpassword" type="password" id="inputConfrimPassword" class="form-control" placeholder="Confirm Password" >

    <label for="inputMobileNumber" class="sr-only">Mobile Number</label>
    <input ngModel name="tel" id="inputMobileNumber" class="form-control" placeholder="Mobile Number" type="tel">

    <label for="inputEmail" class="sr-only">Email</label>
    <input ngModel name="email" id="inputEmail" class="form-control" placeholder="Email" type="email">

    <label for="inputPostalAddress" class="sr-only">Postal Address</label>
    <input ngModel name="address" id="inputPostalAddress" class="form-control" placeholder="Postal Address" type="text">

    <label for="inputGSTIN" class="sr-only">GSTIN</label>
    <input ngModel name="GSTIN" id="inputGSTIN" class="form-control" placeholder="GSTIN" type="text">

    <label for="inputBankDetail" class="sr-only">Bank Detail</label>
    <input ngModel name="BankDetail" id="inputBankDetail" class="form-control" placeholder="Bank Detail" type="text">


    <div class="bottom-div">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </div>
    <ul class="nav">
      <li class="nav-item">
        <label class="nav-link active" >Exsiting account?</label>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/signin-seller']">Sign in</a>
      </li>
    </ul>

  </form>
</div>

