<app-category 
[menus]="topMenus" 
[backgroundColor] = "'#CECCCC'"
(tabSeletcted)="handleTabSelected($event)"
></app-category>
<div class="div-signin">
  <!-- 用户名处的required是由Validator提供的内置校验方法，但是html元素也有叫
 required的属性，所以在form上加一个novalidate，表示不需要浏览器的默认校验-->
  <form class="form-signin" #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)" novalidate>
    <h1 class="h3 mb-3 font-weight-normal">Seller sign in</h1>

    <p *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
    </p>
    <!-- bootstrap utilities/screenreaders   -->
    <label for="inputUsername" class="sr-only">User name</label>
    <input ngModel name="name" id="inputUsername" class="form-control" placeholder="UserName" type="text">

    <label for="inputPassword" class="sr-only">Password</label>
    <input ngModel name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" >

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember Me
      </label>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active"  [routerLink]="['/']">Signup by Buyer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/signup-seller']">Singup by Seller</a>
      </li>

    </ul>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [routerLink]="['/AddItem']">Sign in</button>
    

  </form>
</div>
